section:nth-of-type(6){
    background-color: var(--orange);
}
 
section:nth-of-type(2){
    background-color: var(--green);
}

section:nth-of-type(4){
    background-color: var(--orange);
}

section:nth-of-type(4) div div{
    background-color: var(--white);
}

section:nth-of-type(2) div div{
    background-color: var(--white);
    padding:40px;
}

section:nth-of-type(6) div div{
    background-color: var(--white);
    padding:40px;
}


.ai div, .ae div, .ao div{
    padding:0px;
    margin:0px;
    border:none;
    width:100%;
    height:100%;
}

#container39{
    background-color: white; width:60%; position: absolute; bottom:10px; right:10px; padding:40px; border: 3px solid var(--dark-blue); border-radius: 20px
}

@media screen and (min-width:0px) and (max-width:850px){
    #container39{
        width:auto;
        
    }
    #container39 h1{
        font-size:2rem;
    }
}