    @font-face  {
        font-family: 'Cheese';
        src: url('assets/cheese.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Darumadrop One';
        src: url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
    }
    
    @layer main{
        :root {
        --dark-blue: #0B1734;
        --orange: #EF611F;
        --white: #ffffff;
        --green: #6ABE44;
        color: var(--dark-blue);
        background-color: var(--white);
        font-family: 'Darumadrop One';
        line-height: 1.6em;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
        }
        
        html,body{
        margin:0;
        padding:0;
        overflow-x: hidden;
        }
        
        body {
        display: flex;
        flex-direction: column;
        align-items: center;    
        width:100vw;
        min-width: 320px;
        }
    }
    
    @layer navBar{
    
        header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--white);
        position: fixed;
        top: 0; /* Ensures the header sticks to the top of the viewport */
        left: 0; /* Ensures the header starts from the left edge */
        outline: solid var(--dark-blue) 3px;
        z-index: 1;
        }
        nav {
        width:inherit;
        overflow: hidden;
        height:auto;
        }
        nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly; /* Adjust spacing between items */
        align-items: center;
        letter-spacing: 1px;
        line-height: 3em;
        text-transform: uppercase;
        }
        nav ul li a:not(img a) {
        display: block;
        color: var(--dark-blue);
        font-size:1.6rem;
        text-decoration: none;
        }
        nav ul li a:hover:not(.logo a) {
        color: var(--green); 
        text-shadow:
        -2px -2px 0 var(--dark-blue),
        2px -2px 0 var(--dark-blue),
        -2px 2px 0 var(--dark-blue),
        2px 2px 0 var(--dark-blue); 
        }
        nav ul li img {
        height: 70px;
        margin-top:10px;
        }
        
    }
    
    @layer components{
        button {
        border-radius: 20px;
        border: 0px solid transparent;
        outline: 3px solid var(--dark-blue);
        padding: 0.6em 1.2em;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        background-color: var(--orange);
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease; 
        }
        button:hover {
        background-color: var(--green); 
        transform: scale(1.05) translateY(-3px);
        }
    }
    
    section{
        background-color: var(--white);
        padding:20px;
        width:1200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 3px solid var(--dark-blue);
        border-top: none;
    }

    
    
    
    p{
        text-align: justify;
        font-size:1.rem;
        margin:0px;
    }
    
    h1{
        font-family: Cheese;
        font-size:4rem;  
        line-height:50px;
        color: var(--green);
        text-shadow:
        -2px -2px 0 var(--dark-blue),
        2px -2px 0 var(--dark-blue),
        -2px 2px 0 var(--dark-blue),
        2px 2px 0 var(--dark-blue);
        margin:0;
    }

    h4{
        font-family: Cheese;
        font-size:1.6rem;  
        line-height:1.3em;
        color: var(--dark-blue);
        margin-top:0;
        margin-bottom:5px;
    }
    
    h2{
        font-family: Cheese;
        margin:0;
        margin-bottom: 10px;
        font-size: 2.5rem;
        line-height: 40px;
        color: #6ABE44;
        text-shadow:
        -2px -2px 0 var(--dark-blue),
        2px -2px 0 var(--dark-blue),
        -2px 2px 0 var(--dark-blue),
        2px 2px 0 var(--dark-blue);
        text-align: center;
    }
    
    h3{
        font-family: "Darumadrop One";
        text-transform: uppercase;
        margin-top:10px;
        margin-bottom:10px;
        line-height: 1.3em;
    }

    .border{
        border: var(--dark-blue) 3px solid;
        border-radius: 20px;
    }
    
    .card{
        word-wrap: break-word;
        display: flex;
        background-color: var(--white);
    }
    
    .card li a{
        text-decoration:underline var(--dark-blue);
        color: var(--orange);
        text-underline-offset:0.2em;
    }
    
    .card li{
        list-style: square;
    }
    
    .card li a:hover{
        color: #498f29;
        text-decoration:none;
    }
    
    .card div{
        padding:10px;
    }
    
    section div{
        padding:20px;
    }
    
    #vertical {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
    
    
    .miembrosgrid {
        max-width:800px;
        width:inherit;
        height:100%;
        width:100%;
        padding: 1rem;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 2rem;
        margin:10px;
    }
    
    .miembrosgrid div{
        background-color: rgb(255, 255, 255);
        outline: var(--dark-blue) 3px solid;
        position: relative;
        padding-top: 100%;
        border-radius:20%;
    }
    
    .miembrosgrid div p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;          
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .flexbox-section {
        display: grid;
        grid-gap: 20px; 
    }
    .left-container {
        grid-column: 1; 
    }
    .right-container {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height:100%;
        justify-content: space-evenly; 
    }
    .left-image {
        width:100%;
        max-height:400px;
        object-fit: cover;
    }
    .right-image {
        max-width: 100%;
    }
    .right-text {
        margin-top: 10px;
        text-align: center;
    }
    button{
        align-self: flex-start;
        padding-bottom:13px;
        box-shadow: 0px 5px 0px var(--dark-blue); /* Solid shadow below */
    }
    
    button a{
        text-decoration: none;
        color: var(--dark-blue)
    }
    
    p a{
        color: var(--dark-blue);
        transition: color 0.3s ease; 
    }
    
    p a:hover{
        color: var(--orange);
    
    }
    
    .space{
        margin-top:90px;
    }
    
    
    #block{
        text-align: center;
        
    }
    
    #block h1{
        margin-bottom: 15px;
    }
    
    







    .three-columns{
        display: grid;
        gap:20px;
        align-items: self-start;
        grid-template-columns: repeat(3,1fr)
    }

    .specialgrid3 {
        display: grid; 
        gap: 20px 20px;
        padding: 0;
        }
        .ha { grid-area: ha; }
        .ho { grid-area: ho; }
        .hi { grid-area: hi; }
        .he { grid-area: he; }

.specialgrid3 img{
    width:100%; 
    margin-top: 20px;
    object-fit: cover;
    border: var(--dark-blue) 3px solid;
    border-radius: 30px;
}

.specialgrid5{
    display: grid; 
    gap: 20px 20px;
    
}

.cuatropordos img{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.specialgrid5 img{
    width:100%; 
    margin-top: 20px;
    object-fit: cover;
    aspect-ratio: 4/2;
    border:3px solid var(--dark-blue);
    border-radius: 20px;
}

.specialgrid5 div{
    border: var(--dark-blue) 3px solid;
    padding-bottom:30px;
    padding:40px;
}


.cuatropordos div{
    border: 3px solid var(--dark-blue);
    box-shadow: 0px 5px 0px #0B1734;
    border-radius: 20px;
}
.cuatropordos img{
    border-radius: 20px;
    border: 3px solid var(--dark-blue);
}
.cuatropordos h3{
    text-align: center;
}
.specialgrid3 div{
    border: 3px solid black;
}
.specialgrid4 div, .specialgrid4 img{
    border: 3px solid black;
}

    
    .ae { grid-area: ae; }
    
    .ai { grid-area: ai; }
    
    .ao { grid-area: ao; }
    
    .au { grid-area: au; }
    
    .ua { grid-area: ua; }
    
    .ue { grid-area: ue; }

.specialgrid2 div{
    border: 3px solid black;
    min-height:300px;
}

.specialgrid4 {  display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 20px 20px;
    padding:0px;
    }


    .miembrosgrid {
        display: grid;
    }
    
    .specialgrid3 {
        display: grid;
    }
    
    .cuatropordos {
        display: grid;
        gap: 20px;
    }
    @media (min-width: 0px) and (max-width: 400px) {
        .miembrosgrid {
            grid-template-columns: 1fr;
        }
        #buttonconvencion{
            display: none;
        }
        .specialgrid3 {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "ha ha"
                "hi hi"
                "he he";
        }
        .cuatropordos {
            display: block;
        }
        section {
            max-width: 90%;
        }
        .details2 {
            flex-direction: column;
        }
        .specialgrid4 {
            display: block;
        }
        .specialgrid2 {  display: block;
        }

    }
    
    @media (min-width: 401px) and (max-width: 800px) {
        .miembrosgrid {
            grid-template-columns: repeat(2, 1fr);
        }
        .three-columns {
            grid-template-columns: repeat(2, 1fr);
        }
        .cuatropordos {
            display: block;
        }
        .cuatropordos img {
            display: none;
        }
        .specialgrid3 {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "ha ha"
                "hi hi"
                "he he";
        }
        .ho{
            display: none;
        }
        section {
            max-width: 90%;
        }   
        .details2{
            flex-direction: column;
        }
        .specialgrid4 {
            display: block;
        }
        #buttonconvencion{
            display: none;
        }

        
        .specialgrid2 {  display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-auto-columns: 1fr;
            gap: 20px 20px;
            grid-auto-flow: row;
            grid-template-areas:
                "ae ae"
                "ao ao"
                "ai ai"
                "au au"
                "ua ua"
                "ue ue";
            }

    }
    
    @media (min-width: 801px) and (max-width: 1200px) {
        .miembrosgrid {
            grid-template-columns: repeat(3, 1fr);
        }
        .specialgrid3 {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "ha ha"
                "hi he"
                "ho ho";
        }
        .ho{
            display: none;
        }
        section {
            max-width: 90%;
        }
        .three-columns {
            grid-template-columns: 1fr 1fr;
        }
        .specialgrid5{
            grid-template-columns: 1fr 1fr;
        }
        .cuatropordos {
            grid-template-columns: repeat(2, 1fr);
        }
            
    .specialgrid2 {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "ae ae"
            "ao au"
            "ai ai"
            "ua ue";
        }

    }
    
    @media (min-width: 1201px) {
        .specialgrid3 {
            grid-template-columns: 1.5fr 1fr;

            grid-template-areas:
                "ha hi"
                "ha ho"
                "he ho";
        }
        .cuatropordos {
            grid-template-columns: repeat(4, 1fr);
        }
        .three-columns {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .miembrosgrid {
            grid-template-columns: 1fr 1fr 1fr;
        }
        section {
            max-width: 90%;
        }
        .specialgrid5{
            grid-template-columns: 1fr 1fr;
        }

        
    .specialgrid2 {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "ae ae"
            "ao au"
            "ai ai"
            "ua ue";
        }
        }
    
    @media (max-width: 840px) {
        .flexbox-section {
            display: flex;
            flex-direction: column;
        }
        p, button {
            margin-top: 20px;
        }
        .left-image {
            max-height: none;
        }
        #vertical {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
        }
        section {
            display: flex;
            flex-direction: column;
        }
        nav ul li a {
            font-size: 13px;
        }
        .three-columns {
            grid-template-columns: 1fr;
        }
        .ha { grid-area: ha; }
        .hi { grid-area: hi; }
        .he { grid-area: he; }
    }
    
    @media (min-width: 841px) {
        .flexbox-section {
            grid-template-columns: 4fr 3fr;
        }
        .left-image {
            max-height: 400px;
        }
    }

.shadow{
    box-shadow: 0px 5px 0px #0B1734
}