@font-face {
    font-family:groovy;
    src:url("cheese.ttf")
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    background-color: #0B1734;
}

header {
    justify-content:center;
    align-items: center;
    display: flex;
    width:100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    outline: solid #EF611F;
    z-index: 100;
}

nav {
    width: 1024px;
    overflow: hidden;
    height:auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Adjust spacing between items */
    align-items: center;
    letter-spacing: 1px;
    line-height: 3em;
    text-transform: uppercase;
}


nav ul li a:not(img a) {
    display: block;
    color: #0B1734;
    font-family: groovy;
    text-decoration: none;
}

nav ul li a{
    font-size: 2rem;
}

nav ul li a:hover:not(.logo a) {
    color: 
    #EF611F; 
    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black; 
}

nav ul li img {
    height: 70px;
    margin-top:10px;
}




section{
    margin-bottom:20px;
    display:flex;
    width: 1024px;
    justify-content: center;
}

#trivia_game a img{
    width: 250px;
    position: relative; 
    margin-top:620px; 
    margin-left:200px; 
    cursor: pointer; 
    z-index: 2
}

#trivia_game a img:hover{
    width: 300px;
}


h1{
    font-family: groovy;
    font-weight: 100;
    line-height: 50px;
    margin-bottom:0px;
    color: #6ABE44;
    text-align: center;
    text-shadow:
    -3px -3px 0 #0B1734,
    3px -3px 0 #0B1734,
    -3px 3px 0 #0B1734,
    3px 3px 0 #0B1734;

    font-size: 80px
}


p, button,span{
    font-family: "Darumadrop One", sans-serif;
    font-size: 1.1rem;
    color: #0B1734;
}

#intro p{
    color: white;
}




@media only screen and (max-width: 770px) {
    nav ul li a{
        font-size:13px;
    }
}

@media only screen and (max-width: 860px) and (min-width:750px) {
    nav ul li a{
        font-size:20px;
    }


    
}

@media only screen and (min-width: 0px) and (max-width:1024px) {


}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {

}

