
.ai div, .ae div, .ao div{
    padding:0px;
    margin:0px;
    border:none;
    width:100%;
    height:100%;
}


#grid_two_column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 20px;
    width:100%;
    padding:0px;
}

#grid_two_column img {
    width: 100%;
    height: auto;
    background-color: red;
    border: 3px solid var(--dark-blue);
    border-radius: 20px;
}